@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Robotoitalic.woff2") format("woff2"),
        url("../fonts/Robotoitalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"),
        url("../fonts/Robotobold.woff2") format("woff2"),
        url("../fonts/Robotobold.woff") format("woff");
}