{% extends 'project_modules/base.html' %}
{% load i18n %}

{% load static %}

{% block title %}
    {% trans  "Detailed information about the record" %}
{%  endblock %}

{% block head %}
    <script type="module" src="{% static 'project_modules/js/set_paginator_links.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="title-container flex">
        <h2 class="title-container__label">{% trans  "List of blog entries" %}</h2>
    </div>

    {% trans 'entries' as records_trans%}
    {% include 'project_modules/templates_for_include/paginate_filter.html' with filter_name='blog_entries_per_page' object_name=records_trans%}

    {% if blog_entries %}
        {% include 'project_modules/templates_for_include/object_paginator_links_list.html' %}

        <div class="blog-entries__container flex">
            {% for blog_entry in blog_entries %}
                {% url 'app_blog:blog_detail' pk=blog_entry.pk  as blog_detail_url %}
                {% trans 'Blog Entry' as entry_trans%}
                <a class="update-link blog-entries__object flex" href="{{ blog_detail_url }}" aria-label="{{ entry_trans }} {{ user.username }}" title="{{ entry_trans }} {{ user.username }}">
                    <div class="round-wrap round-wrap_blog-image">
                        {% if blog_entry.all_images %}
                            {% with blog_entry.all_images|random as random_blog_image%}
                                <img class="blog-entries__object-image" src="{{ random_blog_image.image.url }}" alt={% trans "Blog image" %}>
                            {% endwith %}
                        {% else %}
                            {% trans "No images uploaded" %}
                        {% endif %}
                    </div>
                    <p class="blog-entries__object-text"> {{ blog_entry.display_text }} </p>
                    <p class="blog-entries__object-date">{{ blog_entry.published_at|date:'d E Yг. H:i' }} </p>
                </a>
            {% endfor %}
        </div>

        {% include 'project_modules/templates_for_include/object_paginator_links_list.html' %}
    {% else %}
        <div class="title-container flex">
            <h2 class="title-container__label">{% trans "There are no records that meet your request" %}</h2>
        </div>
    {% endif %}



    <script type="module">
        import {addCommonFilters} from '{% static 'project_modules/js/change_query_string.js' %}';

        document.addEventListener("DOMContentLoaded", function () {
            // Установка фильтров для отображаемых пользователей.
            addCommonFilters('blog_entries', [], '{% url 'app_users:user_list' %}')
        });
    </script>

{% endblock %}