{% extends 'project_modules/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Changing the password" %}
{%  endblock %}

{% block content %}
    <div class="title-container flex">
        <h2 class="title-container__label">{% trans "Changing the password" %}</h2>
    </div>

    <form method="post" action="{% url 'app_users:change_password' %}">
        {% include 'app_users/templates_for_include/login_register_form.html' %}
    <button class="update-button" type="submit"> {% trans "Change" %} </button>
    </form>

{% endblock %}