{% extends 'project_modules/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Log in to the site" %}
{%  endblock %}

{% block content %}
    <div class="title-container flex">
        <h2 class="title-container__label">{% trans "Log in to the site" %}</h2>
    </div>
    <form method="post" action="{% url 'app_users:login' %}">
        {% include 'app_users/templates_for_include/login_register_form.html' %}
    <button class="update-button" type="submit"> {% trans "Log in" %} </button>
    </form>

{% endblock %}