{% extends 'project_modules/base.html' %}
{% load i18n %}

{% load static %}
{% block title %}
    {% trans "Registration" as registratin_trans%}
    {{ registratin_trans }}
{%  endblock %}

{% block head %}
    <script src="{% static 'project_modules/js/phone_input.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="title-container flex">
        <h2 class="title-container__label">{{ registratin_trans }}</h2>
    </div>

    <form method="post" action="{% url 'app_users:register' %}">
        {% include 'app_users/templates_for_include/login_register_form.html' %}
    <button class="update-button" type="submit">{{ registratin_trans }}</button>
    </form>

{% endblock %}